.std {
  border: 1px solid rgb(219, 212, 212);
  width: 300px;
  height: 110px;
  background-color: rgba(24, 231, 86, 0.623);
  color: crimson;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
}
h3 {
  margin: 0em;
}
p {
  margin: 0em;
}
button {
  margin-right: 5px;
  margin-top: 5px;
  color: rgb(240, 16, 121);
}
